In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager as fm
import seaborn as sns


medium_font = fm.FontProperties(fname =  "D:/bachelors/datasets/viz/Roboto-Medium.ttf", size = 12)
regluar_font = fm.FontProperties(fname = "D:/bachelors/datasets/viz/Roboto-Regular.ttf", size = 12)

colors = {
    'peach' : '#FCB886',
    'blue' : '#6FC7F7',
    'green' : '#78AF34',
    'red' : '#D25B5B',
    'grey' : '#8B8B8B'
}

In [5]:
from IPython.core.display import display, HTML
from ipywidgets import widgets, interactive

folders = [x for x in os.listdir('D:/Google Drive/Projects/commercial_death/data/') if 'json' not in x]
folders = [x for x in folders if 'csv' not in x]
folders = [x for x in folders if 'ini' not in x]

dp = widgets.DatePicker(description = 'Date:')
selector = widgets.Dropdown(description = 'City:', options = folders)

In [6]:
def f(selector, dp):
    try:
        df_4 = pd.read_csv(f"D:/Google Drive/Projects/commercial_death/data/{selector}/{str(dp)}.csv")
        df_4['creation_date'] = pd.to_datetime(df_4['creation_date'])

        df_4.set_index('creation_date').resample('1d')['cian_id'].nunique().plot(figsize = (10,7))
        plt.xlim(left = pd.Timestamp('2020-01-01'))
        plt.ylim(bottom = 0)
        plt.xticks(fontproperties = regluar_font)
        plt.yticks(fontproperties = regluar_font)
        plt.xlabel('Creation date',  fontproperties = medium_font)
        plt.grid(which = 'both')
    except:
        display(HTML('Sorry, no data avaliable'))

interactive_plot = interactive(f, selector = selector, dp = dp)
output = interactive_plot.children[-1]
# output.layout.height = '350px'
interactive_plot

interactive(children=(Dropdown(description='City:', options=('Blagoveschensk', 'Chita', 'Ekaterinburg', 'Irkut…

# Maps

In [1]:
from keplergl import KeplerGl

In [3]:
df = pd.read_csv('D:/data_projects/commerical_death/Moscow/2020-07-25.csv')
df

,cian_id,category,village_id,added,house_id,newobject_id,photo,price,object_type,lon,filter_type,creation_date,builders_ids,deal_type,from_developer,lat,service_id,property_type,id,type
0,237216460,warehouseRent,NaN,1595342799,2395074.0,NaN,NaN,4870000.0,NaN,37.122466,commercial,2020-07-21T17:46:39.183,[],rent,False,55.749076,102,3,237216460,NaN
1,234677003,shoppingAreaRent,NaN,1595415579,NaN,NaN,NaN,2125000.0,NaN,37.122606,commercial,2020-06-17T16:03:12.1,[],rent,False,55.811718,102,2,234677003,NaN
2,236876160,warehouseRent,NaN,1595637229,3511667.0,NaN,NaN,1824999.0,NaN,37.118792,commercial,2020-07-16T18:43:12.69,[],rent,False,55.812868,102,3,236876160,NaN
3,163062104,freeAppointmentObjectRent,NaN,1594798142,2502627.0,NaN,NaN,41667.0,NaN,37.120948,commercial,2017-09-04T22:37:48.837,[],rent,False,55.826867,102,5,163062104,NaN
4,201941505,warehouseRent,NaN,1594798143,2502627.0,NaN,NaN,1020834.0,NaN,37.120948,commercial,2019-02-20T12:32:10.337,[],rent,False,55.826867,102,3,201941505,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55827,234147297,officeRent,NaN,1595593964,2131222.0,NaN,NaN,20000.0,NaN,37.978758,commercial,2020-06-10T12:54:52.757,[],rent,False,55.807633,102,1,234147297,NaN
55828,235004932,warehouseRent,NaN,1595579588,2033704.0,NaN,NaN,540000.0,NaN,37.981920,commercial,2020-06-22T10:02:40.233,[],rent,False,55.900325,102,3,235004932,NaN
55829,235486347,industryRent,NaN,1593504384,2015968.0,NaN,NaN,110040.0,NaN,37.981336,commercial,2020-06-28T15:59:37.573,[],rent,False,55.919594,102,7,235486347,NaN
55830,224681531,freeAppointmentObjectRent,NaN,1595668626,1409736.0,NaN,NaN,36404.0,NaN,37.982234,commercial,2020-01-20T10:46:45.787,[],rent,False,55.928567,102,5,224681531,NaN
55831,227072427,shoppingAreaRent,NaN,1595581261,1904918.0,NaN,NaN,150000.0,NaN,37.979387,commercial,2020-03-02T17:10:27.943,[],rent,False,55.923201,102,2,227072427,NaN

In [4]:
map_1 = KeplerGl(height=900)

map_1.add_data(data=df, name='Предложения коммерческой недвижимости на 25 июля')
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'Предложения коммерческой недвижимости на 25 июля': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10…

In [7]:
map_1.save_to_html(file_name = 'Kepler_Moscow.html')

Map saved to Kepler_Moscow.html!